- @sidebar_links = sidebar_links('/factorio')
- @current_path = '/factorio/bom'

doctype html
html lang="en"
  head
    title Bill of Materials
    == preamble

  == article
    h1.title Bill of Materials

    markdown:
      This function generates a bill of materials for a blueprint or blueprint book.

      It compiles a list of all items needed to build the entities and modules
      within a blueprint, and generates a new blueprint containing constant
      combinators with those items.

      It is readily combined with the
      [Universal Supply](interplanetary#universal-supply) system to request
      materials for blueprints.

    hr

    - prefill = ''
    - if !post_errors.empty?
      - post_errors['blueprint'].each do |error|
        strong.form-error = error
      - prefill = blueprint_string

    - if request.post? && post_errors.empty?
      pre.wrap == blueprint_string
      hr

    form method="post"
      ==< input('tiles', 'Include Tiles', 'checkbox')
      ==< input('blueprint_string', 'Blueprint String', 'paragraph', nil, value: prefill, class: 'monospace')
      button type="submit" formaction="/factorio/bom" Submit
