- description = Rack::Utils::HTTP_STATUS_CODES.fetch(response.status, 'Error')
doctype html
html lang="en"
  head
    title = description
    == preamble
  == article do
    h1.title.centered  = description
