doctype html
html lang="en"
  head
    title Login
    == preamble
  == article do
    - if request.post? && error
      p.form-error = "Could not log in: #{error}"
    - elsif request.post? && request.path == '/logout'
      p Successfully logged out
    - if current_user
        h2 == "Currently logged in as <em>#{current_user.uid}</em>"

        form action="/logout" method="post"
          button.login-button type="submit" Logout
    - else
        h1.title Log in

        div.indent
          - redirect_param = "?redirect_to=#{params['redirect_to']}" if params['redirect_to']
          form action="/login#{redirect_param}" method="post"
            .form-field
              label for="username" Username
              input id="username-input" name="username" type="text" autocomplete="username"
            .form-field
              label for="password" Password
              input id="password-input" name="password" type="password" autocomplete="current-password"
            button.login-button type="submit" Login
