- @sidebar_links = sidebar_links('/admin')
- @current_path = '/onboard'

doctype html
html lang="en"
  head
    title Onboarding
    == preamble
  == article
    h1.title Onboard New User
    p This may also be used to generate a sign-in link for an existing user
    div.indent
      - if defined?(token)
        a href="/signup/#{token}" Copy and send this link
      - else
        form method="post"
          ==< input('username', 'Username', 'user', required: true)

          button type="submit" formaction="/onboard" Submit
          button type="submit" formaction="/onboard?existing=true" Generate Link for Existing User
