- page = yield
- @sidebar_target = page.sidebar_target
- @sidebar_links = sidebar_links(page.sidebar_target)
- @right_sidebar = page.right_sidebar
- @current_path = "/#{page.name}"

doctype html

html lang="en"
  head
    title = page.title
    - if @right_sidebar
      script src="/sidebar-nav.js?v=2" defer=true
    == preamble
  == article
    == page.body
