- if current_user&.admin?
  - users = all_user_profiles.group_by do |user|
    - next :other unless user.member?
    - next :inactive if user.inactive?
    - user.title.nil? ? :member : :titled
- else
  - users = public_user_profiles.group_by do |user|
    - user.title.nil? ? :member : :titled

doctype html
html lang="en"
  head
    title Community Members
    == preamble
  == article do
    h1.title Community Members
    section
      ul
        - if current_user&.admin?
          - user_sort(users[:titled]).each do |user|
            li
              a.userprofile.internal href="/profile/#{user.uid}" = user.friendly_name
              |  - #{user.title}
        - else
          - user_sort(users[:titled]).each do |user|
            li
              span.profile-card id="#{user.uid}"
                == template(:user_card, {}, { user: user })
                a.userprofile.internal href="##{user.uid}" = user.friendly_name
                |  - #{user.title}
    hr.list-separator
    section
      ul.columns
        - if current_user&.admin?
          - user_sort(users[:member]).each do |user|
            li
              a.userprofile.internal href="/profile/#{user.uid}" = user.friendly_name
        - else
          - user_sort(users[:member]).each do |user|
            li
              span.profile-card id="#{user.uid}"
                == template(:user_card, {}, { user: user })
                a.userprofile.internal href="##{user.uid}" = user.friendly_name

    - if current_user&.admin? && (users[:other] || users[:inactive])
      h1 Other Users
      .indent
        - if users[:inactive]
          h2 Inactive
          section
            ul.columns
              - user_sort(users[:inactive]).each do |user|
                li
                  a.userprofile.internal href="/profile/#{user.uid}" = user.friendly_name

        - if users[:other]
          h2 Other
          section
            ul.columns
              - user_sort(users[:other]).each do |user|
                li
                  a.userprofile.internal href="/profile/#{user.uid}" = user.friendly_name
