doctype html
html lang="en"
  head
    - if profile_self?
      title Profile
    - else
      title = "#{target_user_profile.uid}'s profile"
    == preamble
  == article do
    h1.title Profile
    - unless profile_self?
      h2
        ' Viewing
        em = target_user_profile.uid
        | 's profile

    - if request.post? && post_errors.empty?
      p Profile updated

    form.centered action=request.fullpath method="post" enctype="multipart/form-data"
      label.profile-image-upload.section-separator for="face-input"
        - if target_user_profile.jpeg_photo
          img.profile-image alt="#{target_user_profile.uid}'s profile picture" src='/profiles/#{profile_uid}/face.jpg'
        .form-field
          input id="face-input" name="face" type="file"
          span.file-upload Upload Profile Picture
        - if defined?(:post_errors) && request.post? && !post_errors['face'].empty?
          - post_errors['face'].each do |error|
            strong.form-error = error

      div.columns
        ==< profile_input('display-name', 'Display Name', 'text', 'display_name', maxlength: 64)
        ==< profile_input('name', 'Full Name', 'text', 'cn', maxlength: 128)
        ==< profile_input('description', 'Description', maxlength: 16384)
        ==< profile_input('email', 'E-Mail', 'email', 'mail', maxlength: 1024, autocomplete: 'email')
        ==< profile_input('password', 'Password', 'password', nil, minlength: 10, maxlength: 512, autocomplete: 'new-password')
        ==< profile_input('password-verify', 'Password Again', 'password', nil, autocomplete: 'new-password')
        - if current_user.admin?
          ==< profile_input('title', 'Title')

      button type="submit" Submit
      p
        ' Full name, e-mail, and description are
        strong optional
        | .
      p Name and description are visible to other members of the community.

    - if current_user.admin?
      hr.section-separator

      - unless target_user_profile.groups&.empty?
        - belong_string = profile_self? ? 'You are' : "#{target_user_profile.uid} is"
        p = "#{belong_string} in the following groups:"
        ul.membership-list
          - target_user_profile.groups.each do |group|
            li = group

        form action="/clear-sessions?username=#{target_user_profile.uid}" method="post"
          button type="submit" Revoke Active Sessions
