doctype html
html lang="en"
  head
    title = "#{target_user_profile.uid}'s profile"
    == preamble
  == article do
    section.public-profile
      h1.title = "#{target_user_profile.uid}'s profile"
      p: strong = target_user_profile.friendly_name
      hr

      - if target_user_profile.jpeg_photo
        img.profile-image alt="#{target_user_profile.uid}'s profile picture" src='/profiles/#{profile_uid}/face.jpg'
        hr

      .indent
        - if target_user_profile.cn != target_user_profile.uid
          p = target_user_profile.cn

        - if target_user_profile.title
          p = target_user_profile.title

        - if target_user_profile.description
          p: em = target_user_profile.description
