- @sidebar_links = sidebar_links('/admin')
- @current_path = '/signups'

- if params["resolved"]
  - requests = RainbowCoalition::Model::SignupRequest.exclude(status: 'pending').reverse(&:resolved_at)
- else
  - requests = pending_requests.order(&:created_at)

doctype html
html lang="en"
  head
    title Signups
    == preamble
  == article do
    - if params["resolved"]
      h1.title Resolved Signup Requests
      p
        | You're viewing resolved signup requests.
        a< href='/signups' View pending signup requests.
    - else
      h1.title Pending Signup Requests
      p
        | You're viewing pending signup requests.
        a< href='/signups?resolved=true' View resolved signup requests.
    hr.section-separator
    ul
      - if requests.empty?
        p No pending requests
      - else
        - requests.each do |signup_request|
          li.formlist
            strong> = signup_request.username
            | — submitted at
            time< datetime=signup_request.created_at.iso8601 = signup_request.created_at
            - if signup_request.description
              pre.usertext = signup_request.description

            - if params["resolved"]
              p
                = signup_request.status.tr('_', ' ').capitalize
                |  at
                time<  datetime=signup_request.resolved_at.iso8601 = signup_request.resolved_at
                - if signup_request.reason && !signup_request.reason.empty?
                  |  —
                  em< = signup_request.reason
            - else
              form method="post" action="/signups?token=#{signup_request.token}"
                label for="reason" Reason
                input name="reason" id="reason-input" type="text"
                button name="action" value="approved" type="submit" Approve
                button name="action" value="soft_rejected" type="submit" Soft Reject
                button name="action" value="hard_rejected" type="submit" Hard Reject
