doctype html
html lang="en"
  head
    title Signup
    - if signup_request&.status == 'pending'
      script src="/signup.js" defer=true
    == preamble
  == article
    - if config.dig('signup', 'enabled') == false
      h1.title Signups Temporarily Disabled
    - else
      h1.title Sign up to Rainbow Coalition
      - if signup_request&.status == 'hard_rejected'
        strong Your request has been rejected. You may not create a new signup request.
        - if signup_request&.reason && !signup_request.reason.empty?
          p = "Reason: #{signup_request.reason}"
      - elsif signup_request&.status == 'pending'
        #spinnerbox
          strong Request pending. You may bookmark this page to check on the status of your request.
      - else
        - if signup_request&.status == 'soft_rejected'
          strong Your request has been rejected, but you may create another.
          - if signup_request&.reason && !signup_request.reason.empty?
            div.text-blocks
              p
                strong Reason:
              p = signup_request.reason
          hr
        - elsif signup_request&.status == 'approved'
          strong = "Username not found: #{signup_request.username}"
          hr
        form method="post"
          ==< input('username', 'Username', 'user', nil, required: true)
          fieldset
            legend Optional
            ==< input('email', 'E-Mail', 'email', "If you'd like to be notified when the signup is approved.", maxlength: 1024)
            p If you do not provide an e-mail, you will need to check the status of your request yourself.
            ==< input('description', 'Description', 'paragraph', "Any information you'd like to include about yourself in the application", maxlength: 16384)
            p Consider letting us know what kinds of experiences you'd like to get out of Rainbow Coalition!
            - if @empty_email
              input type="hidden" id="empty-email-input" name="empty-email" value="true"

          button type="submit" formaction="/signup" Submit

        hr.section-separator

        markdown:
          Once submitted, your request should be approved promptly.

          Once approved, you will need to set up your profile with a password,
          which you may then use to log in to
          [Mattermost](https://chat.rainbowcoalition.net). All you need is your
          browser!

          Mattermost is a real time chat application where you'll be able to
          introduce yourself to the rest of the community. We host our own,
          independent instance.
