body
  == header
  div#outer-wrapper
    main class='main-grid'
      - if @sidebar_links
        nav.sidebar-left
          ol
            - @sidebar_links.each do |title, target|
              - if target == @current_path
                li: a.sidebar-link-current href=target = title
              - else
                li: a href=target = title

      article
        == yield

      - if @right_sidebar
        == @right_sidebar
