p.narrow
  strong
    - if book['download_url']
        a href=book['download_url'] = book['title']
    - else
      = book['title']
  - if book['author']
    |  (
    em = book['author']
    | )

.indent
  - if book['section']
    p.narrow
      ' Section:
      = book['section']

  - current_year = Time.now.year

  - if book['start']
    - s, e = [book['start'], book['end']].map {|t| Date.parse(t)}
    - s_text, e_text = [s, e].map do |date|
      - if date.year != current_year
        - date.strftime('%B %-d, %Y')
      - else
        - date.strftime('%B %-d')

    p.narrow
      ' Reading Period:

      time> datetime=s.iso8601 = s_text
      | -
      time< datetime=e.iso8601 = e_text

  - if defined?(display_discussion) && display_discussion && book['discussion_date']
    - discussion_date = DateTime.parse(book['discussion_date']).new_offset(0)
    - if discussion_date.year != current_year
      - date_text = discussion_date.strftime('%-H:%M UTC, %B %-d, %Y')
    - else
      - date_text = discussion_date.strftime('%-H:%M UTC, %B %-d')

    p.narrow
      ' Discussion scheduled for:
      time datetime=discussion_date.iso8601 = date_text
