input.menu-button id="menu-toggle" type="checkbox" tabindex="2" role="button" aria-label="Hamburger Menu Button"

header
  a.site-logo href="/" tabindex="1"
    img.site-logo src="/rc.svg" alt="Rainbow Coalition Logo"

  div.lines-spacer

  label.lines for="menu-toggle"
    span.line
    span.line
    span.line

  nav.header-nav
    ol
      - navigation_links.each do |title, uri, sublinks, kwargs|
        - haspopup = sublinks.empty? ? {} : {'aria-haspopup' => 'menu'}
        li *haspopup
          - if uri
            a href=uri *kwargs = title
          - else
            p = title

          - unless sublinks.empty?
            ol.dropdown-nav
              - sublinks.each do |sublink_title, sublink_uri, kwargs|
                li: a href=sublink_uri *(kwargs || {}) tabindex=0 = sublink_title

  div.spacer
  button#theme-switcher type="button" title="Switch Light/Dark Theme"
    svg alt="Theme Switcher" width="1.5em" viewbox="0 0 24 24"
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g fill-rule="nonzero">
                <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20 L12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 Z"></path>
            </g>
        </g>
  div.header-user
    - if current_user
      a href='/login' title="Log out"
        span.hide-small = "Logged in as "
        span = current_user.uid
    - else
      a href='/login' Log in

nav.hamburger-menu
  ol
    - navigation_links.each do |title, uri, sublinks, kwargs|
      li
        a href=uri *(kwargs || {}) = title
        - if uri == @sidebar_target
          ol.hamburger-sub-nav
            - @sidebar_links.drop(1).each do |title, target|
              - if target == @current_path
                li: a.sidebar-link-current href=target = title
              - else
                li: a href=target = title
        - elsif request.path == uri || sublinks.any? {|_, sub_uri| sub_uri == @sidebar_target || request.path.start_with?(sub_uri)}
          ol.hamburger-sub-nav
            - sublinks.each do |sub_title, sub_uri, kwargs|
                - if sub_uri == request.path
                  li: a.sidebar-link-current href=sub_uri *(kwargs || {}) = sub_title
                - else
                  li: a href=sub_uri *(kwargs || {}) = sub_title

                - if sub_uri == @sidebar_target
                  ol.hamburger-sub-nav
                    - @sidebar_links.drop(1).each do |side_title, side_uri|
                      - if side_uri == @current_path
                        li: a.sidebar-link-current href=side_uri = side_title
                      - else
                        li: a href=side_uri = side_title
