- if type == 'user'
  - kwargs[:maxlength] ||= 80
  - kwargs[:minlength] ||= 1
  - kwargs[:pattern] ||= "^[a-zA-Z0-9_]+$"
  - type = "text"

- kwargs[:value] ||= params[name]

.form-field
  - unless ["checkbox", "radio"].include?(type)
    label for="#{name}-input" = label
  - if clarification
    p = clarification
  - if type == 'paragraph'
    - value = kwargs.delete(:value) || ''
    textarea id="#{name}-input" name="#{name}" *kwargs
      = value
  - else
    input id="#{name}-input" name="#{name}" type="#{type}" *kwargs

  - if ["checkbox", "radio"].include?(type)
    label for="#{name}-input" = label

  - if defined?(:post_errors) && request.post? && !post_errors["#{name}"].empty?
    - post_errors["#{name}"].each do |error|
      strong.form-error = error
