<script src="/themeswitch.js"></script>
<link rel="stylesheet" href="/style.css?v=5">
<link rel="icon" type="image/png" href="/favicon.png">
<meta name="viewport" content="width=320, initial-scale=1">
<meta charset="utf-8"/>
<script src="/converttimes.js" defer></script>
