div.profile-card
  a.close href="#" aria-role="button" aria-label="close" title="Close"
  p.uid: strong = user.uid
  hr

  - if user.jpeg_photo
    img.profile-image [
      alt="#{user.uid}'s profile picture"
      src='/profiles/#{user.uid}/face.jpg'
      loading="lazy"
    ]
    hr

  - if user.friendly_name != user.uid
    p: strong = user.friendly_name

  - if user.cn != user.uid
    p = user.cn

  - if user.title
    p = user.title

  - if user.description
    p: em = user.description
